@use "@material/theme" with (
  $primary: #7b1fa2,
  $secondary: #00796b,
  $background: #c7c7c7,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";
@use "@material/fab";
// @use "@material/tooltip";

@include fab.core-styles;
@include card.core-styles;
@include textfield.core-styles;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto';
  margin: 0px auto;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
  @include icon-button.core-styles;
}

.img-topbar {
  width: 1.5rem;
  height: 1.5rem;
}

.mdc-top-app-bar__title {
  size: 22px;
}

.mdc-tab-bar {
  background-color: #00796b;
}

// .mdc-tab :hover{
//   background-color: #004c40;
// }

section {
  text-align: center;
}

.content {
  margin: 5rem auto;
  padding-bottom: 20rem;
  text-align: center;
}

.sample-content--hidden {
  display: none;
}

.mdc-tab__content .mdc-tab__text-label {
    color: white;
}

.mdc-tab .mdc-tab__icon {
  color: white;
}

.mdc-text-field {
    margin: 1rem auto;
}

.button {
  margin-top: 1rem;
}

.mdc-snackbar__actions .mdc-button__label {
  color: "secondary";
}

.md-fab-bottom-right{
  position: fixed !important;
  right: 50px;
  bottom: 50px;
}

.mdc-top-app-bar__title {
  padding-bottom: 0;
}

.seleccion-mes {
  margin-left: 24px;
  display:flex;
  align-items:center;
}

.mdc-list-group {
  width: 600px;
  margin: auto;
}

.mdc-list-group__subheader {
  color: #616161;
  text-align: left;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.mdc-list {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}